server:
  servlet:
    context-path: /api

management:
  endpoints:
    web:
      exposure:
        include: '*'

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVICE_URI:http://localhost:9010/eureka}
    registryFetchIntervalSeconds: 5
  instance:
    leaseRenewalIntervalInSeconds: 1
    leaseExpirationDurationInSeconds: 2